* {
    margin: 0;
    padding: 0;
}

#inputs {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    min-width: 250px;
    gap: 10px;
}
#inputs div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: black solid 1px;
    padding-bottom: 5px;
    font-weight: 700;
    font-family: sans-serif;
}

#result {
    margin: 20px 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    width: 250px;
    height: min-content;
}
#result, p {
    font-size: 18px;
    font-weight: 700;
}
#result p span {
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
}

#error-message {
    font-size: 20px;
    color: crimson;
}

#interactive {
    display: grid;
    grid-template-columns: 320px 200px;
    justify-content: center;
    align-items: center;
}

#reset {
    border-radius: 4px;
    background-color: lightgray;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
#reset:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    #interactive {
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        justify-content: unset;
        align-items: unset;
    }
}